.card-container {
  perspective: 1000px;
  position: relative;
}

.card-container:hover .card,
.card-container:focus .card,
.card-container.hover .card {
  transform: rotateY(180deg);
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg)
}
