@responsive {
  .grid {
    display: grid;
  }

  .grid-repeat-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid-repeat-5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }

  .gap {
    grid-gap: .5rem;
  }

  .gap-lg {
    grid-gap: 1rem;
  }

  .gap-xl {
    grid-gap: 1.5rem;
  }

  .self-center {
    justify-self: center;
  }
}
